# Gradle
.gradle/
build/

# Local configuration file (sdk path)
local.properties

# Android Studio / IntelliJ
.idea/
*.iml

# Captures
captures/

# Logs
*.log

# Keystore
*.jks
*.keystore

# Kotlin/Java
out/

# Mac/Windows junk
.DS_Store
Thumbs.db
